@model KlingerStore.Catalog.Application.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Produto Detalhe";
}
<br />
<vc:summary />

<div class="card">
    <div class="row no-gutters">
        <aside class="col-md-6">
            <article class="gallery-wrap">
                <div class="img-big-wrap">
                    <a href="#"><img src="~/Imagens/@Model.Image"></a>
                </div>
                
                <div class="thumbs-wrap">
                    <a href="#" class="item-thumb"> <img src="~/Imagens/@Model.Image"></a>
                    
                </div>
            </article>
        </aside>
        <main class="col-md-6 border-left">
            <article class="content-body">

                <h2 class="title">@Model.Name</h2>

                <div class="rating-wrap my-3">
                    <ul class="rating-stars">
                        <li style="width:80%" class="stars-active">
                            <img src="bootstrap-ecommerce-html/images/icons/stars-active.svg" alt="">
                        </li>
                        <li>
                            <img src="bootstrap-ecommerce-html/images/icons/starts-disable.svg" alt="">
                        </li>
                    </ul>
                    <small class="label-rating text-muted">132 reviews</small>
                    <small class="label-rating text-success"> <i class="fa fa-clipboard-check"></i> @Model.QuantityStock em estoque! </small>
                </div>

                <div class="mb-3">
                    <var class="price h4">@Model.Value.ToString("C")</var>
                    @*<span class="text-muted">/per kg</span>*@
                </div>

                <p>@Model.Description</p>



                
                <form asp-action="AddItem" asp-controller="Cart" method="post">
                    <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                    <hr>
                    <div class="row">
                        <div class="form-group col-md flex-grow-0">
                            <label>Quantidade</label>
                            <div class="input-group mb-3 input-spinner">
                                <div class="input-group-prepend">
                                    <button class="btn-minus btn btn-light" type="button" > + </button>
                                </div>
                                <input type="text" class="form-control" value="1" id="quantity" name="quantity" >
                                <div class="input-group-append">
                                    <button class="btn-plus btn btn-light" type="button" id="button-minus"> &minus; </button>
                                </div>

                            </div>
                        </div>

                    </div>
                    <a href="#" class="btn  btn-success"> Comprar Agora </a>

                    <button class="btn  btn-outline-success"> <span class="text">Add Carrinho</span> <i class="fas fa-shopping-cart"></i>  </button>
                </form>

            </article>
        </main>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            //-- Click on detail
            $("ul.menu-items > li").on("click", function () {
                $("ul.menu-items > li").removeClass("active");
                $(this).addClass("active");
            })

            $(".attr,.attr2").on("click", function () {
                var clase = $(this).attr("class");

                $("." + clase).removeClass("active");
                $(this).addClass("active");
            })

            //-- Click on QUANTITY
            $(".btn-minus").on("click", function () {
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)) {
                    if (parseInt(now) - 1 > 0) { now--; }
                    $(".section > div > input").val(now);
                } else {
                    $(".section > div > input").val("1");
                }
            })
            $(".btn-plus").on("click", function () {
                var now = $(".section > div > input").val();
                if ($.isNumeric(now)) {
                    $(".section > div > input").val(parseInt(now) + 1);
                } else {
                    $(".section > div > input").val("1");
                }
            })
        })
    </script>
}
